.markdown-preview-view img {
    max-width: 100%;
    outline: none;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(8, 8, 8, 0.5));/*阴影效果*/
        background-clip: content-box,padding-box;
        border-radius: 20px 20px 20px;/*圆角矩形 左上角：20px；右上角和左下角：10px；右下角：40px*/
}
